.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Custom page footer */
.footer {
  margin-top: 20px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.slider-label {
  font-weight: bold;
  color:#55637d;
}

.slider-desc {
  padding-left: 5px;
  font-weight:lighter;
  color:#777;
}

.grid {
  position:relative
}

.grid-item { width: 200px; height:200px; overflow: hidden; padding:5px;}

.grid-item-height { height:200px;}
.grid-item-height2 { height:400px;}
.grid-item-height3 { height: 600px;}
.grid-item-height4 { height: 800px;}

.grid-item-width { width:200px;}
.grid-item-width2 { width:400px;}
.grid-item-width3 { width: 600px;}
.grid-item-width4 { width: 800px;}


/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
